[MASTER]
ignore=CVS

[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    import-error,
    wrong-import-position,
    line-too-long,
    too-few-public-methods,
    no-member,
    redefined-outer-name,
    import-outside-toplevel,
    no-self-argument,
    unused-argument,
    unused-variable,
    unused-import,
    broad-exception-caught,
    bad-indentation,
    no-else-return,
    unnecessary-pass,
    import-self,
    wrong-import-order,
    ungrouped-imports,
    not-callable,
    consider-using-max-builtin,
    reimported,
    no-name-in-module,
    trailing-whitespace
